<h1 style="font-family:verdana;" align="center">This is Liezl's home page</h1>

<center><%= link_to "About", about_path %></center></br>

<center><%= link_to image_tag('HomeImageSuccess.jpg'), about_path %></center>